@use 'element-plus/theme-chalk/src/common/var.scss' as * with (
  $colors: (
    'primary': (
      'base': #3b82f6,
    ),
    'success': (
      'base': #10b981,
    ),
    'warning': (
      'base': #f59e0b,
    ),
    'danger': (
      'base': #ef4444,
    ),
    'info': (
      'base': #64748b,
    ),
  ),
  $border-radius: (
    'base': 8px,
  ),
  $font-size: (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 13px,
    'extra-small': 12px,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
